$bg: #0b0d10;
$fg: #d2daf4; 
$gray: #636c7e;


.works {
  font-size: 16px;
  font-weight: normal;
  margin: 0px 0px 0px 10px;
  background-color: $bg;
}

.0 , .01, .02, .03, .04, .05, .06,
.011, .022, .033, .044, .055, .066{
  margin: 0px 10px 0px 0px;
}

.0 {
color: $gray;
}

.01, .02, .03, .04, .05, .06 {
  color: $fg; 
}

.011, .022, .033, .044, .055, .066 {
  color: $fg; 
}
