$fg: #d2daf4;

.hour-text {
  font-family: "Iosevka Nerd Font";
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: $fg;
}

.minute-text {
  font-family: "Iosevka Nerd Font";
  font-size: 50px;
  margin-bottom: 10px;
  color: $fg;
}

.separator {
    font-family: "Iosevka Nerd Font";
    font-size: 30px;
    margin-bottom: 10px;

}
