* {
    all: unset;
    font-family: feather;
    font-family: Iosevka Nerd Font;
  }

/** workspace shit **/
.works {
font-size: 18px;
font-weight: normal;
margin: 0px 0px 0px 10px;
background-color: #0f0f17;
}

.0 , .01, .02, .03, .04, .05, .06,
.011, .022, .033, .044, .055, .066{
  margin: 0px 10px 0px 0px;
}

/* Unoccupied */
.0 {
color: #3e424f;
}

/* Occupied */
.01, .02, .03, .04, .05, .06 {
  color: #bfc9db;
}

/* Focused */
.011, .022, .033, .044, .055, .066 {
  color: #a1bdce;
}

.bar_class {
    background-color: #0f0f17;
    border-radius: 16px;
}

.profile_class {
	background-size: cover;	
	background-position: center;
 	font-size: 1.5em;
	color: #ee6a70;
	min-height: 30px;
	min-width: 24px;
	margin: 10px;
	border-radius: 10px;
}
.time-hour {
  font-size: 18px;
  font-weight: normal;
  margin: 0px 0px 0px 0px;
  color: #ffffff;
}

.time-min {
  font-size: 18px;
  font-weight: normal;
  margin: 0px 0px 10px 0px;
  color: #f4f4f4;
}
