$green: #3fcc6c;
$red: #e15858;
$black: #151a1c;
$fg: #d2daf4;
$bg: #0b0d10;

tooltip {
  margin: 10px;
  background-color: $bg;
}

.void {
  font-size: 1.5em;
  color: $green;
  margin: 10px;
}

.powermenu {
    font-size: 1.2em;
    color: $red;
    margin: 10px;
}

.time {
  font-family: Iosevka Nerd Font;
  font-weight: bold;
  font-size: 1.2em;
  color: $fg;
  border-radius: 5px;
  margin: .5rem 0 .5rem 0;
  padding-top: .9rem;
  padding-right: .6rem;
  padding-bottom: .9rem;
  padding-left: .6rem;
}
